{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="form-group">
        <h1>Enregistrer un nouvel utilisateur</h1>
        {{ form_start(registrationForm, {'attr': {'class': 'row'}}) }}
        <div class="form-control">
            {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse email'}}) }}
            <span class="error">{{ form_errors(registrationForm.email) }}</span>
        </div>
        <br>
        <div class="form-control">
            {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
            <span class="error">{{ form_errors(registrationForm.username) }}</span>
        </div>
        <br>
        <div class="form-control">
            {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
            <span class="error">{{ form_errors(registrationForm.plainPassword) }}</span>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" name="" class="btn btn-primary" value="Enregistrer">
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
