{% extends 'base.html.twig' %}

    {% block title %}Nouvel utilisateur{% endblock %}

{% block body %}


    <div class="container center">
        <h1>Enregistrer un nouvel utilisateur</h1>
        {{ form_start(registrationForm, {'attr': {'class': 'row'}}) }}

        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse email'}}) }}
        <span class="error">{{ form_errors(registrationForm.email) }}</span>

        <br>

        {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
        <span class="error">{{ form_errors(registrationForm.username) }}</span>

        <br>

        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe'}}) }}
        <span class="error">{{ form_errors(registrationForm.plainPassword) }}</span>

        <br>

        {{ form_widget(registrationForm.save) }}
        {{ form_widget(registrationForm.cancel) }}

        {{ form_end(registrationForm) }}
        <br>

    </div>


{% endblock %}
