{% extends 'base.html.twig' %}

{% block title %}Diplome index{% endblock %}

{% block body %}
    <h1>Diplome index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NumEtud</th>
                <th>IdO</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Promo</th>
                <th>NomUsage</th>
                <th>PrenomPv</th>
                <th>DateMj</th>
                <th>Commentaire</th>
                <th>NiveauDiplome</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>ReseauSocial</th>
                <th>DateDeces</th>
                <th>SituationRs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.numEtud }}</td>
                <td>{{ diplome.idO }}</td>
                <td>{{ diplome.nom }}</td>
                <td>{{ diplome.prenom }}</td>
                <td>{{ diplome.promo }}</td>
                <td>{{ diplome.nomUsage }}</td>
                <td>{{ diplome.prenomPv }}</td>
                <td>{{ diplome.dateMj ? diplome.dateMj|date('Y-m-d') : '' }}</td>
                <td>{{ diplome.commentaire }}</td>
                <td>{{ diplome.niveauDiplome }}</td>
                <td>{{ diplome.email }}</td>
                <td>{{ diplome.telephone }}</td>
                <td>{{ diplome.reseauSocial }}</td>
                <td>{{ diplome.dateDeces ? diplome.dateDeces|date('Y-m-d') : '' }}</td>
                <td>{{ diplome.situationRs }}</td>
                <td>
                    <a href="{{ path('diplome_show', {'numEtud': diplome.numEtud}) }}">show</a>
                    <a href="{{ path('diplome_edit', {'numEtud': diplome.numEtud}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('diplome_new') }}">Create new</a>
{% endblock %}
